coverage==7.15.4
    # via -r test_requirements.in
iniconfig==2.3.0
    # via pytest
packaging==26.3
    # via pytest
pluggy==1.6.0
    # via pytest
pygments==2.20.0
    # via pytest
pytest==9.1.1
    # via -r test_requirements.in
